.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-family: 'Poppins', sans-serif;
}
.card{
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card-img-top{
  overflow: 'hidden';
  transition: transform 0.3s;
}
.card-body{
  padding-top: 30px;
}
.card-img-top:hover{
  overflow: hidden;
  transform: scale(1.2);
}
.Toastify__toast-body {
  font-family: 'poppins', sans-serif;
}

@media only screen and (max-width: 500px)
{
  .product-details-section{
    flex-direction: column !important;
  }
  .checkout-section {
  flex-direction: column !important;
  padding-left: 20px;
  padding-right: 20px;
  }
  .product-details-div-1{
    width: 100% !important;
  }
  .product-details-div-2 {
    margin-top: 20px;
    width: 100% !important;
  }
   .login-buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
   }
  .add-product-section, .register-section, .profile-section, .login-section {
    padding-left: 30px;
    padding-right: 30px;
  }
  .add-product-div-1, .register-div-1, .profile-div-1, .login-div-1 {
    display: none !important;
  }
  .add-product-div-2, .register-div-2, .profile-div-2, .login-div-2 {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
